@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
/* general rules */
:root {
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}

button {
    font-size: 0.6rem;
    font-weight: bolder;
    color: var(--Black);
    letter-spacing: 0.2rem;
    outline: none;
    width: 110px;
    height: 30px;
    text-align: center;
    background-color: var(--White);
    border: 1px solid var(--Very-Dark-Gray);
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

button:hover {
    background-color: var(--Black);
    color: var(--White);
    cursor: pointer;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    padding: 0 9.8rem;
}

.tb-padding {
    padding-top: 9.2rem;
    padding-bottom: 9.2rem;
}
.b-padding {
    padding-bottom: 9.2rem;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 2.5rem;
}

.brandname {
    z-index: 3;
    font-size: 2.2rem;
    font-weight: bolder;
}

.nav-items {
    flex-basis: 25%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.nav-items > li {
    margin-right: 2.2rem;
}

.nav-items > li:last-of-type {
    margin-right: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* hero section rules */
#header {
    color: var(--White);
    padding: 30px 0;
    background-image: url("../images/desktop/image-hero.jpg");
    background-size: cover;
    background-position: left 20%;
    background-repeat: no-repeat;
}

.hero.container {
    display: flex;
    flex-flow: column nowrap;
    height: 595px;
}

h3 {
    font-family: 'Alata', sans-serif;
}

.nav-items a {
    color: inherit;
    font-size: 0.9rem;
    font-weight: 600;
}

#menuicon {
    display: none;
    cursor: pointer;
}

#hero-text {
    font-size: 4.5rem;
    text-transform: uppercase;
    padding: 2.2rem 2.5rem;
    width: 665px;
    line-height: 1;
    border: 2px solid var(--White);
    margin: auto 0;
}

/* about section */
.img-text-container {
    height: 500px;
    display: flex;
    flex-flow: row nowrap;
}

.side-text {
    min-width: 45%;
    background-color: white;
    height: 60%;
    align-self: flex-end;
    padding: 3.0rem 0 0 4.0rem;
    position: relative;
    right: 125px;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1.1rem 0;
    line-height: 1;
    font-weight: lighter;
}

.side-text > p {
    font-size: 1.1rem;
    padding: 1.1rem 0.5rem 0;
    font-weight: bold;
    color: var(--Very-Dark-Gray);
}

/* creaction section rules */
h2, button {
    text-transform: uppercase;
}

h2 {
    font-size: 2.1rem;
    font-weight: lighter;
}

#our-creations .grid-container {
    justify-items: legacy;
    grid-template-rows: 80px 450px 450px;
    grid-auto-rows: max-content;
    grid-template-areas: "h h h h . . . . . . . b"
                         "o o o t t t r r r f f f"
                         "e e e s s s v v v g g g";
    gap: 30px;
}

.grid-container img {
    width: 100%;
    height: 100%;
}

.grid-container > div {
    position: relative;
}

.grid-container > h2 {
    grid-area: h;
}

.grid-container > button {
    grid-area: b;
}

.grid-container > div.one  {
    grid-area: o;
}
.grid-container > div.two  {
    grid-area: t;
}
.grid-container > div.three  {
    grid-area: r;
}
.grid-container > div.four  {
    grid-area: f;
}
.grid-container > div.five  {
    grid-area: e;
}
.grid-container > div.six  {
    grid-area: s;
}
.grid-container > div.seven  {
    grid-area: v;
}
.grid-container > div.eight  {
    grid-area: g;
}

h4 {
    color: var(--White);
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.8rem;
    width: 150px;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

/* footer section */
footer {
    background-color: var(--Black);
    padding: 3.0rem 0;
    color: var(--White);
}

footer .grid-container {
    grid-template-areas: "b b b b b . . . m m m m"
                         "i i i i i . c c c c c c";
    row-gap: 1rem;
}

footer h3.brandname {
    grid-area: b;
}

footer .nav-items {
    grid-area: i;
    justify-content: flex-start;
}

.social-icons {
    grid-area: m;
    display: flex;
    justify-content: flex-end;
}

.social-icons > li {
    margin-left: 0.7rem;
}

.social-icons > li:hover,
.nav-items  li:hover{
    border-bottom: 1px solid var(--White)
}

.social-icons img {
    width: 1.2rem;
    height: 1.2rem;
}

.copyright-text {
    grid-area: c;
    color: var(--Very-Dark-Gray);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: end;
}

.attribution { 
    display: none;
    font-size: 0.9rem; 
    text-align: center; 
    color: var(--White);
    font-weight: normal;
}

.attribution a {
    color: hsl(228, 54%, 50%); 
    text-decoration: underline;
}

@media screen and (max-width: 1350px) {
    .img-text-container {
        flex-direction: column;
        height: auto;
    }

    .side-text {
        position: relative;
        z-index: -10;
        padding: 0;
        width: 60px;
        height: 60px;
        border-color: black;
        border: 3px;
    }
    
}

@media screen and (max-width: 980px) {
    #our-creations .grid-container {
        grid-template-areas:"h h h h h h h h h h . b"
                            "o o o o o o t t t t t t"
                            "r r r r r r f f f f f f"
                            "e e e e e e s s s s s s"
                            "v v v v v v g g g g g g";
    }

    #hero-text {
        width: 100%;
        font-size: 3.0rem;
    }

    .nav-items > li,
    .brandname {
        margin-right: 0.5rem;
    }
}
#ourcreations
{
    display: flex;
}
#seeall{
    background-color: black;
}

@media screen and (max-width: 600px) {
    body {
        text-align: center;
    }
    
    .container {
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    #header {
        background-image: url("../images/mobile/image-hero.jpg");
        background-position: top right;
    }

    .hero.container {
        height: 620px;
    }

    header#navbar {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem;
    }

    #menuicon {
        display: block;
        z-index: 3;
    }
    
    .nav-items {
        flex-direction: column;
    }

    #menubar.nav-items > li a {
        color: var(--Dark-Gray);
        font-size: 1.8rem;
        font-weight: lighter;
        text-transform: uppercase;
    }

    #menubar.nav-items {
        background-color: var(--Black);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 0;
        height: 0;
        overflow: hidden;
        justify-content: center;
        align-items: flex-start;
        padding-left: 1.9rem;
    }

    #menubar.nav-items.show {
        width: 100%;
        height: 100vh;
    }

    .overflow {
        overflow: hidden;
    }

    #hero-text {
        font-size: 2.5rem;
        padding: 2rem;
    }

    #hero-text, h4 {
        text-align: left;
    }

    .side-text > h1 {
        line-height: 1;
        font-size: 1.8rem;
        padding: 1.1rem 0 0;
    }

    .side-text > p {
        font-size: 1.5rem;
    }

    #our-creations .grid-container {
        grid-template-rows: 80px max-content max-content;
        grid-template-areas: "h h h h h h h h h h h h"
                             "o o o o o o o o o o o o"
                             "t t t t t t t t t t t t"
                             "r r r r r r r r r r r r"
                             "f f f f f f f f f f f f"
                             "e e e e e e e e e e e e"
                             "s s s s s s s s s s s s"
                             "v v v v v v v v v v v v"
                             "g g g g g g g g g g g g"
                             "b b b b b b b b b b b b";
        gap: 30px 0;
    }

    .grid-container img {
        height: auto;
    }

    .grid-container > button {
        justify-self: center;
    }

    h4 {
        font-size: 1.33rem;
        left: 1rem;
        bottom: 1.2rem;
        width: 120px;
    }

    footer {
        padding: 3.0rem 0;
    }

    footer .grid-container {
        grid-template-areas: "b b b b b b b b b b b b"
                             "i i i i i i i i i i i i"
                             "m m m m m m m m m m m m"
                             "c c c c c c c c c c c c";
    }

    footer .nav-items {
        padding-top: 1.5rem;
    }

    footer .nav-items a {
        font-size: 1.2rem;
        font-weight: lighter;
        line-height: 2;
    }

    .social-icons {
        padding: 1rem 0;
        justify-content: center;
    }

    .social-icons img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .copyright-text {
        grid-area: c;
        color: var(--Dark-Gray);
        text-align: center;
        font-size: 1.2rem;
        padding: 1.0rem 0;
    }
}